.sign-title {
    background-color: #33b5e5;
    color: white;
    margin-bottom: 30px;
}

.sign-title h5 {
    padding: 20px;
    margin-bottom: 0px !important;
    color: white !important;
}

.radio {
    margin: 0.5rem;
}

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio input[type="radio"]:checked+.radio-label:before {
    background-color: #3197EE;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]+.radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

select {
    margin-bottom: 1.5rem;
}

.form-label {
    font-size: 13px;
    font-weight: 300;
    color: #757575;
    margin-bottom: 0px;
}

.react-numeric-input {
    margin-bottom: 1.5rem;
}

.radio-group {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.md-form {
    border: none !important;
}