.profile-container {
    position: fixed;
    margin: 0px;
    top: 74px;
    right: -15px;
    width: 350px;
    height: 100%;
    z-index: 2;
    animation-name: profile-container;
    animation-duration: 0.5s;
}

@keyframes profile-container {
    0% {
        right: -400px
    }
    100% {
        right: -15px;
    }
}

.profile-container-hide {
    position: fixed;
    margin: 0px;
    top: 74px;
    right: -400px;
    width: 350px;
    height: 100%;
    animation-name: profile-container-hide;
    animation-duration: 0.5s;
}

@keyframes profile-container-hide {
    0% {
        right: -15px
    }
    100% {
        right: -400px;
    }
}

.jumbotron {
    padding: 20px 5px 0px 5px;
    height: calc( 100vh - 75px);
    overflow: auto;
}

.card-body {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left !important;
}

.profile-image {
    text-align: center;
    width: 100%;
    position: relative;
}

.profile-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.profile-image .upload-button {
    position: absolute;
    top: 0px;
    width: 200px;
    height: 200px;
    margin-left: calc( 50% - 100px);
    border-radius: 50%;
}

.profile-image .upload-button label {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.profile-image .upload-button input {
    display: none;
}

.profile-image h4 {
    padding-top: 20px;
    font-weight: 600;
}

button.close {
    position: absolute;
    right: 25px;
    top: 5px;
}

.jumbotron::-webkit-scrollbar {
    width: 5px;
    background: red;
}

.jumbotron:hover::-webkit-scrollbar-thumb {
    display: block;
    background: #888;
}

.jumbotron::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.jumbotron::-webkit-scrollbar-thumb {
    /* background: #888; */
    background: transparent;
}

.jumbotron::-webkit-scrollbar-thumb:hover {
    background: #555;
}