.call-window {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: white;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.video-contact {
    position: absolute;
    height: calc( 100vh - 30px);
    width: calc(100vw - 30px);
    margin: auto;
    left: 15px;
    top: 15px;
    object-fit: cover;
    overflow: hidden;
}

.call-window #peerVideo {
    height: 100%;
    width: auto;
}

.video-user {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    overflow: hidden;
    height: 9.375rem;
    width: 9.375rem;
}

.video-user #localVideo {
    border-radius: .25rem;
    height: auto;
    width: auto;
    max-width: 9.375rem;
    border-radius: 8px;
    border: 3px solid white;
}

.video-control {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.video-control button {
    color: white;
}

button.fa-video,
button.fa-microphone {
    background-color: blue;
}

button.hangup {
    background-color: red;
}

@media only screen and (max-width: 768px) {
    .call-window #peerVideo {
        height: 100vh;
        -o-object-fit: cover;
        object-fit: cover;
    }
}